*{
  box-sizing: border-box;
  margin: 0 0;
  font-family: Helvetica,Arial,  sans-serif;
}

@media screen and (max-width: 800px) {
  p{
    margin: 0 -8px;
  }
  .row{
    margin: 0 -18 px !important;
  }
}

.row {
  display: inline;
  font-size: 40px;
  
}

p{
  display: inline; 
  margin: 0 8px;
}

h2{
  color: #000;
  font-weight: 400;
}
.main {
  text-align: center;
  margin-top: 10%;
  letter-spacing: 5px;
}

.clock {
  margin-top: 25px;
  padding: 50px;

}

.btn-style{
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 10px;
  border: 0px;
  font-size: 20px ;
}

.btn-start{
  background-color: #66FFFF  ;
}

.btn-stop{
  background-color: #CC3300;
}

.btn-reset {
  background-color: #9999CC;
}

.btn-style:hover {
  opacity: 0.85;
  cursor: pointer;
}